
#gameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 0px;
	user-select: none;
	width: min(80vw, 80vh);
	height: min(80vw, 80vh);	
}
.removed-pieces-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 10px 0;
	width: min(80vw, 80vh);
	 position: relative; 
}

#turnIcon{
	
	font-size: calc(min(80vw, 80vh) / 16); 
	
	position: absolute;
	top: -3vw;
	left: -6vw;

}
.captured{
	display: inline;
	
	font-size: calc(min(80vw, 80vh) / 16); 
	pointer-events: none;
	line-height: .5;
}
.flipped {
	transform: rotate(180deg);
  }
.labelSquareID {
	opacity: .5;
}

.captured[data-color="white"]{
	float: left;
}
.captured[data-color="black"]{
	float: right;
}

.square {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	position: relative;
}

.piece {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	top: 0;
	font-size: calc(min(80vw, 80vh) / 8); 
	width: 100%;
	height: 100%;
}

.piece:hover {
	background-color: rgba(255, 0, 0, 0.6);
}

.white {
	background-color: rgb(230, 230, 230);
}

.black {
	background-color: rgb(155, 155, 155);
}

.selected {
	background-color: rgba(255, 0, 255, 1);
}

.highlighted {
	background-color: rgba(255, 255, 0, 0.3);
	cursor: pointer;
}

.highlighted:hover {
	background-color: rgba(0, 255, 98, 0.6);
	cursor: pointer;
}

.lastmove {
	background-color: rgba(50, 158, 255, 0.6);
}

.highlighted .piece {
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	background-size: 100% 400%;

	
}